/* Write your global styles here, in SCSS syntax. Variables and mixins from the src/variables.scss file are available here without importing */

.popup {
	z-index: 200;
}

.snackbar-wrapper {
	z-index: 999;
}

body {
	background-image: radial-gradient(
			at 0% 99%,
			rgba(var(--color-tertiary-500) / 0.1) 0px,
			transparent 50%
		),
		radial-gradient(at 98% 1%, rgba(var(--color-primary-500) / 0.1) 0px, transparent 50%);
}
