/*place global styles here */
@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;


html,
body {
	@apply h-full overflow-hidden;
}

@media (max-width: 768px) {
		.modal-transition {
			padding:0 !important;
		}
	}